*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin
*.o
*.obj

*.a
*.tar
*.gz
*.zip
*.rar

*.log
*.sql
*.sqlite

.idea/
*.swp
*.swo
.vscode/
*.sublime-workspace

/pkg/

/bin/
/vendor/

/.postgres/
/auth/.postgres
/taskTrakcek/.postgres

*.test
*.test.exe
test.out

/data/

*.cache
*.tmp

/go.sum
/go.mod

*.cover
*.out

*.dSYM/

.DS_Store